.user {
  flex: 4;
  padding: 20px;
}

.userTitle {
  margin-left: 10px;
  font-size: 20px;
}

.userTitleContainer {
  display: flex;
  align-items: center;

  margin-top: 20px;
  background-color: #00186e;
  color: white;
}

.userAddButtonv {
  width: 100px;
  height: 40px;
  border: none;
  padding: 5px;
  background-color: white;
  border-radius: 5px;
  cursor: pointer;
  color: black;
  font-size: 16px;
  font-size: small;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 500px;


}

.userAddButtoni {
  width: 100px;
  height: 40px;
  border: none;
  padding: 5px;
  background-color: white;
  border-radius: 5px;
  cursor: pointer;
  color: black;
  font-size: 16px;
  font-size: small;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 2cm;



}

.userAddButton2 {
  width: 80px;
  border: none;
  padding: 5px;
  background-color: white;
  border-radius: 5px;
  cursor: pointer;
  color: black;
  font-size: 16px;

}

.userContainer {
  display: flex;
  margin-top: 20px;
}

.userShow {
  flex: 1;
  padding: 20px;
  -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
}

.userUpdate {
  flex: 2;
  padding: 20px;
  -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  margin-left: 20px;
}

.userShowTop {
  display: flex;
  align-items: center;
}

.userShowImg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.userShowTopTitle {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.userShowUsername {
  font-weight: 600;
  color: white;
}

.userShowUserTitlev {
  font-weight: 300;
  color: #00186e;
  font-weight: 600;
}

.userShowBottom {
  margin-top: 20px;
}

.userShowTitle {
  font-size: 14px;
  font-weight: 600;
  color: rgb(175, 170, 170);
}

.userShowInfo {
  display: flex;
  align-items: center;
  margin: 20px 0px;
  color: #444;
}

.userShowInfoi {
  display: flex;
  align-items: center;
  margin: 20px 0px;
  color: white;
}

.userShowIcon {
  font-size: 16px !important;
}

.userShowIconi {
  font-size: 16px !important;
  color: white;
}

.userShowInfoTitle1 {
  margin-left: 46px;
  color: black;
}

.userShowInfoTitle2 {
  margin-left: 65px;
  color: black;
}

.userShowInfoTitle3 {
  margin-left: 102px;
  color: black;
}

.userShowInfoTitle4 {
  margin-left: 45px;
  color: black;
}

.userShowInfoTitle5 {
  margin-left: 148px;
  color: black;
}

.userShowInfoTitle1i {
  margin-left: 50px;
  color: white;
}

.userShowInfoTitle2i {
  margin-left: 70px;
  color: white;
}

.userShowInfoTitle3i {
  margin-left: 105px;
  color: white;
}

.userShowInfoTitle4i {
  margin-left: 130px;
  color: white;
}

.userUpdateTitle {
  font-size: 24px;
  font-weight: 600;
  color: white;
  margin-left: 25px;
}

.userUpdateTitlev {
  font-size: 24px;
  font-weight: 600;
  color: #00186e;
  margin-left: 5px;
}

.userUpdateForm {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}


.userUpdateItem {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  color: #00186e;
}

.userUpdate {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  background-color: #00186e;
  margin-top: 2px;


}

.userUpdateItem>label {
  margin-bottom: 5px;
  font-size: 14px;
  color: white;
}

.userUpdateInput {
  border: none;
  width: 250px;
  height: 30px;
  border-bottom: 1px solid gray;
}

.userUpdateRight {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.userUpdateUpload {
  display: flex;
  align-items: center;
}

.userUpdateImg {
  width: 100px;
  height: 100px;
  border-radius: 10px;
  object-fit: cover;
  margin-right: 20px;
}

.userUpdateIcon {
  cursor: pointer;
}

.userUpdateButton {
  border-radius: 5px;
  border: none;
  padding: 5px;
  cursor: pointer;
  background-color: white;
  color: black;
  font-weight: 600;


}