.userList {
  flex: 4;
  margin-left: 20px;
  margin-top: 40px;
  margin-bottom: 45px;
}

.user1 {
  flex: 4;
  padding: 20px;
}

.userTitle1 {
  margin-left: 10px;
}

.userTitleContainer1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  background-color: #00186e;
  color: white;
}

.userTitleContainer2 {
  display: flex;
  height: -200px;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  background-color: white;
  color: white;
}

.userAddButton6 {
  width: 80px;
  border: none;
  padding: 5px;
  background-color: white;
  border-radius: 5px;
  cursor: pointer;
  color: black;
  font-size: 16px;
  margin-right: -200px;
}

.userListUser {
  display: flex;
  align-items: center;
}

.userListImg {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.userListEdit {
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
  background-color: #3bb077;
  color: white;
  cursor: pointer;
  margin-right: 10px;
  margin-left: 100px;
}

.userListvehicle {
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
  background-color: #523bf5;
  color: white;
  cursor: pointer;
  margin-right: 20px;
  margin-left: 20px;
}

.userListtrip {
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
  background-color: #b40909;
  color: white;
  cursor: pointer;
  margin-right: 20px;
}

.userList {
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
  background-color: white;
  color: white;
  cursor: pointer;
  margin-right: 20px;
}

.userListDelete {
  color: red;
  cursor: pointer;
}

.userAddButtonvh {
  width: 100px;
  height: 40px;
  border: none;
  padding: 5px;
  background-color: #00186e;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  font-size: 16px;
  font-size: small;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 1000px;
  text-decoration: solid;

}

.userAddButtonin {
  background-color: #00186e;
  width: 100px;
  height: 40px;
  border: none;
  padding: 5px;

  border-radius: 5px;
  cursor: pointer;
  color: white;
  font-size: 16px;
  font-size: small;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 2px;
  text-decoration: solid;

}