.home {
    flex: 4;

}


.homeWidgets {
    display: flex;
    margin: 20px;


}

.calander>input {
    margin-left: 50px;
    width: 1250px;
    height: 50px;
    background-color: white;
    color: white;



}

.calander>input#start {

    background-color: white;
    color: #00186e;
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    border: 1px solid white;




}

.calander {

    background-color: white;
    border: 1px solid white;






}